.accordion {
  max-width: 1170px;
  margin: 0 auto 50px;
  padding: 1rem;
  font-family: "Google Sans", sans-serif;
  border-radius: 5px;
  box-shadow: 1px 8px 20px -10px #757575;
}

.accordion:hover {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
